@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@700&display=swap');

#scrollspyHeading1{
    padding-top: 70px;
}
#scrollspyHeading2{
    padding-top: 70px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 2rem;
    

}
#scrollspyHeading3{
    padding-top: 70px;
}

.skillSection{
    background-color: rgb(53, 53, 53);
    padding-bottom: 70px;
}