.contentSkill{
    grid-area: contentSkill;
}

.firstSkills{
    grid-area: firstSkills;
}

.secondSkills{
    grid-area: secondSkills;
}

.containerSkills{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    'contentSkill firstSkills firstSkills'
    'secondSkills secondSkills secondSkills';

    & section{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 5rem), 1fr));
    }
    & h1{
        font-weight: bold;
        color: white;
    }
    & p{
        color: lightgray;
    }
}



.skillWrap{
    width: 12rem;
    height: 12rem;
    border-radius: 1rem;
    background-color: rgba(15, 80, 185, 0.2);
    padding: 2rem;
    margin-left: auto;
    margin-right: auto;
    & img{
        width: 3rem;
        height: 3rem;
    }
    & h5{
        margin-top: 2.5rem;
        color: #fff;
    }
    &:hover{
        background-color: rgb(196, 196, 196, 0.2);
    }
}

.skillLogo{
    display: flex;
    justify-content: flex-end;
}



@media (max-width:1800px) {
    .containerSkills{
        width: 80%;
    }
    
}

@media (max-width:1600px) {
    .containerSkills{
        width: 95%;
    }
    
}

@media (max-width:1300px) {
    .containerSkills{
        gap: 1rem;
        & section{
            gap: 1rem;
        }
    }
    .skillWrap{
        width: 8rem;
        height: 8rem;
        border-radius: 1rem;
        background-color: rgba(15, 80, 185, 0.2);
        padding: 0.5rem;

        & img{
            width: 3rem;
            height: 3rem;
        }
        & h5{
            margin-top: 2rem;
            color: #fff;
        }
    }
}

@media (max-width:900px) {
    .containerSkills{
        grid-template-columns:1fr;
        grid-template-areas: 
        'contentSkill'
        'firstSkills'
        'secondSkills'
        ;
        & img{
            width: 2rem;
            height: 2rem;
        }

    }
    .secondSkills{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 5rem), 1fr));
    }
    .skillWrap{
        width: 5rem;
        height: 5rem;
        padding: 0.5rem;
        border-radius: 0.5rem;
        & h5{
            margin-top: 1rem;
            color: #fff;
            font-size: small;
        }
    }
}