
<div>
<div class="containerSkills">
  <article class="contentSkill">
    <h1>Mis Habilidades</h1>
    <p>Me gusta aprender constamente nuevas tecnologías, estas son las más destacadas con las cuales he trabajado:</p>
  </article>
  <section class="firstSkills">
    <div class="skillWrap">
      <div class="skillLogo">
        <img class="iconSkills" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/React.svg/1200px-React.svg.png" alt="..."/>
      </div>
      <h5>React</h5>
    </div>
    <div class="skillWrap">
      <div class="skillLogo">
        <img class="iconSkills" src="https://cdn.worldvectorlogo.com/logos/redux.svg" alt="..."/>
      </div>
      <h5>Redux</h5>
    </div>
    <div class="skillWrap">
      <div class="skillLogo">
        <img class="iconSkills" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/CSS.3.svg/1200px-CSS.3.svg.png" alt="..."/>
      </div>
      <h5>CSS</h5>
    </div>
    <div class="skillWrap">
      <div class="skillLogo">
        <img class="iconSkills" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Bootstrap_logo.svg/1200px-Bootstrap_logo.svg.png" alt='...'/>
      </div>
      <h5>Bootstrap</h5>
    </div>
  </section>
  <section class="secondSkills">
    <div class="skillWrap">
      <div class="skillLogo">
        <img class="iconSkills" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/HTML5_Badge.svg/600px-HTML5_Badge.svg.png" alt="..."/>
      </div>
      <h5>HTML5</h5>
    </div>
    <div class="skillWrap">
      <div class="skillLogo">
        <img class="iconSkills" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/2048px-Angular_full_color_logo.svg.png" alt="..."/>
      </div>
      <h5>Angular</h5>
    </div>
    <div class="skillWrap">
      <div class="skillLogo">
        <img class="iconSkills" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/1280px-Node.js_logo.svg.png" alt="..."/>
      </div>
      <h5>Nodejs</h5>
    </div>
    <div class="skillWrap">
      <div class="skillLogo">
        <img class="iconSkills" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/1024px-Unofficial_JavaScript_logo_2.svg.png" alt="..."/>
      </div>
      <h5>Javascript</h5>
    </div>
    <div class="skillWrap">
      <div class="skillLogo">
        <img class="iconSkills" src="https://seeklogo.com/images/S/sequelize-logo-9A5075DB9F-seeklogo.com.png" alt="..." />
      </div>
      <h5>Sequalize</h5>
    </div>
    <div class="skillWrap">
      <div class="skillLogo">
        <img class="iconSkills" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Postgresql_elephant.svg/1200px-Postgresql_elephant.svg.png" alt="..." />
      </div>
      <h5>Sequalize</h5>
    </div>
  </section>
</div>
